.places {
  margin: 0 auto 92px;
  max-width: 984px;
  padding: 0 48px;
}

@media screen and (max-width: 1023px) {
  .places {
    margin-bottom: 90px;
    padding: 0 24px;
    min-width: 720px;
    width: 100vw;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin-bottom: 66px;
    padding: 0;
    min-width: 100vw;
  }
}
