.lead {
  margin: 48px auto 92px;
  padding: 0 48px;
  max-width: 984px;
  min-width: 928px;
}

@media screen and (max-width: 1023px) {
  .lead {
    padding: 0;
    margin: 48px 0 88px;
    width: 100%;
    min-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    margin-bottom: 64px;
  }
}
