.cover {
  width: 100vw;
  position: relative;
  max-width: 1184px;
  margin: 0 auto;
}

.cover:hover {
  cursor: pointer;
}

.cover:hover .cover__overlay {
  opacity: .8;
}

.cover:before {
  content: '';
  display: block;
  padding-bottom: 62.5%;
}
