.place {
  margin: 0 0 80px;
  padding: 0 48px;
  display: grid;
  grid-template-rows: 152px 440px;
  row-gap: 48px;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  column-gap: calc(100vw/32);
}
